#canvas-container {
    position: relative;
}

#canvas-container canvas {
    display: block;
    margin: 0 auto;
}

#dump-btn,
#peel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#dump-btn {
    left: calc((100% - 900px) / 4);
    transform: translateX(-50%);
}

#peel-btn {
    right: calc((100% - 900px) / 4);
    transform: translateX(50%);
}

main {
    position: relative;
    height: 100vh;
}

#game-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.9);
}

#overlay-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}